h1,
h2,
h3,
h4 {
  font-family: "Big Shoulders Display", cursive;
}

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  line-height: 5.5rem;
}

h4 {
}

body {
  font-family: "Outfit", sans-serif;
}
