$color-brown: #d5966c;
$color-black: #151515;
$color-gray: #444444;
$color-white: #ffffff;

$desktop: 1120px;
$tablet: 768px;
$mobile-lg: 480px;

$font-primary: "Outfit", sans-serif;
$font-secondary: "Big Shoulders Display", cursive;
